$bgColor: rgb(20, 29, 47);
$mainColor: rgb(75, 71, 255);
$secondColor: rgb(0, 190, 232);

    

.aboutMeSection{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 16px;
    line-height: 20px;
    position: relative;


    .vectorContainer{
        width: 100%;
        height: min-content;
        position: absolute;
        bottom: 60px;
        height: 100px;
        z-index: 82;
        
        .vectorFullsreen{
            width: 100%;
            z-index: 82;
        }
    }



    .personalImageContainer{
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 60vh;
        z-index: 80;
        margin-top: 42px;

        .imgColorBg, .personalImg{
            width: 90%;
            position: absolute;
            bottom: -60px;
            left: 10%;
            object-fit: contain;
        }
        
        .vector{
            position: absolute;
            top: 50vh;
            object-fit: cover;
            width: 100vw;
            max-width: 100%;
        }
    }

    .aboutMeText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 37px;
        width: 80%;
        z-index: 83;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 100px;

        h2{
            font-size: 45px;
            font-weight: 700;
            margin-block-end: 0;
            width: max-content;
        }

        .personalText{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 37px;

            img{
                height: 50px;
                width: 50px;
                object-fit: contain;
            }
        }
    }
}

.wrapActive{
    width: calc(40%) !important;
}

.personalImgMobile{
    margin-bottom: 50px !important;
}

.mobileText{
    margin-bottom: 0px !important;
}

.vectorXL{
    bottom: 120px !important; 
}

