<section id="aboutMe"  class="aboutMeSection" *ngIf="!home.impressOn" [ngClass]="{'textFontDesktop': home.isDesktopXl}">
    <img *ngIf="home.isDesktop" class="vectorFullsreen" src="../../assets/images/coloredBgParts/Vector (1).png" alt="">

    <div [ngClass]="{'wrapActive-40': home.isDesktop}" class="aboutMeText">
        <h2 [ngClass]="{'desktopHeadlines': home.isDesktop || home.isTablet, 'desktopHeadlinesXL': home.isDesktopXl}">About me</h2>
        <span>
            Hi I'm Jacob, passionate frontend developer with a special focus on web applications based on angular.
            With the help of the latest technologies, I support you in turning your idea into a finished, unique product.
            <br>
            On my never-ending self-development in the "tec-world", I attach particular importance to a humane approach and an honest commitment to the customer.
        </span>
        
        <div class="personalText">
            <img src="../../assets/images/icons/light_bulb_blue.png" alt="">
            <span>
                I belive that every problem should be met with a positive attitude - writing award-winning code does not happen from a "this can't be done" attitude.
                <br>
                I am always ready for a new challenge where I can grow as a human and expand my skill stack.
            </span> 
        </div>

        <div class="personalText">
            <img src="../../assets/images/icons/puzzle_blue.png" alt="">
            <span>
                The beauty of this industry is that it is full of talented and creative people.
                <br>
                I learn something new every day either by my own curiosity or by like-minded code enthusiasts.
            </span>
        </div>
    </div>

    <div [ngClass]="{'wrapActive-40': home.isDesktop}" class="personalImageContainer">
        <img class="imgColorBg" src="../../assets/images/coloredBgParts/Group 2.png" alt="" [ngClass]="{'personalImgDesktop': home.isDesktop}">
        <img class="personalImg" src="../../assets/images/personal_imgs/hero character photo.png" alt="" [ngClass]="{'personalImgDesktop': home.isDesktop}"> 
        
        <img *ngIf="home.isMobile" class="vector" src="../../assets/images/coloredBgParts/Vector (1).png" alt="">
    </div>

</section>
