<section class="startScreenContainer">
    <div class="coloredParts">
        <img class="blueColorSpot" src="../../assets/images/coloredBgParts/Purple shadow (2).png" alt="">
        <img class="greenColorSpot" src="../../assets/images/coloredBgParts/Purple shadow (1).png" alt="">
    </div>

    
    <div class="aboveTheFold">
        <div class="iAm">I am</div>
        
        <div class="introContainer">
            <div class="name">Jacob Hengsbach</div>
            <div class="job">FRONTEND DEVELOPER</div>
        </div>
    </div>

    <div class="talkBtn">Let's talk!</div>

    <div class="socialMediaContainer">
        <div class="blueLine"></div>
        <img src="../../assets/images/socialIcons/git_icon.png" alt="">
        <img src="../../assets/images/socialIcons/mail_icon.png" alt="">
        <img src="../../assets/images/socialIcons/linkedIn_icon.png" alt="">
    </div>

</section>
