<section id="startScreenContainer" class="startScreenContainer" *ngIf="!home.impressOn">
    <div class="coloredParts">
        <img class="blueColorSpot" src="../../assets/images/coloredBgParts/Purple shadow (2).png" alt="">
        <img class="greenColorSpot" src="../../assets/images/coloredBgParts/Purple shadow (1).png" alt="">
    </div>
 
    <div class="aboveTheFold">
        <div [ngClass]="{'font80': home.isDesktop, 'desktopHeadlines90': home.isDesktopXl}" class="iAm">I am</div>
        
        <div class="introContainer">
            <div [ngClass]="{'font88': home.isDesktop, 'desktopHeadlines120': home.isDesktopXl}" class="name">Jacob Hengsbach</div>
            <div [ngClass]="{'font64': home.isDesktop, 'desktopHeadlines60': home.isDesktopXl}" class="job">FRONTEND DEVELOPER</div>
        </div>
    </div>

    <div class="talkBtn">
        <a href="#contactSection">Let's talk!</a>
    </div>

    <div class="socialMediaContainer">
        <div class="blueLine"></div>
        <a href="https://github.com/JacobHb99" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/images/socialIcons/git_icon.png" alt="">
        </a>
        <a href="#contactSection" rel="noopener noreferrer">
            <img src="../../assets/images/socialIcons/mail_icon.png" alt="">
        </a>
        <a href="https://www.linkedin.com/in/jacob-hengsbach-931a9a296/" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/images/socialIcons/linkedIn_icon.png" alt="">
        </a>
    </div>
</section>
