<section class="startScreenContainer">
    <div class="coloredParts">
        <img class="blueColorSpot" src="../../assets/images/coloredBgParts/Purple shadow (2).png" alt="">
        <img class="greenColorSpot" src="../../assets/images/coloredBgParts/Purple shadow (1).png" alt="">
    </div>

    
    <div class="aboveTheFold">
        <div [ngClass]="{'font90': home.isDesktop}" class="iAm">I am</div>
        
        <div class="introContainer">
            <div [ngClass]="{'font120': home.isDesktop}" class="name">Jacob Hengsbach</div>
            <div [ngClass]="{'font64': home.isDesktop}" class="job">FRONTEND DEVELOPER</div>
        </div>
    </div>

    <div class="talkBtn">Let's talk!</div>

    <div class="socialMediaContainer">
        <div class="blueLine"></div>
        <a href="https://github.com/JacobHb99" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/images/socialIcons/git_icon.png" alt="">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/images/socialIcons/mail_icon.png" alt="">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/images/socialIcons/linkedIn_icon.png" alt="">
        </a>
    </div>

</section>
