<section>
    <div class="headlineContainer">
        <div class="blueLineShortContainer">
            <div class="blueLineShort"></div>
        </div>
        <div [ngClass]="{'desktopHeadlines': home.isDesktop || home.isTablet}" class="headline">Portfolio</div>
        <div class="blueLineLongContainer">
            <div class="blueLineLong"></div>
        </div>
    </div>

    <div class="portfolioDescription">
        This is a sample of my Work.
    </div>

    <div class="projectsContainer">
        
            <div [ngClass]="{'justify-between': home.isDesktop}" class="project" *ngFor="let project of projects; let i = index">
                <div [ngClass]="{'wrapActive-40': home.isDesktop}" class="projectImgContainer">
                    <img src="{{ project.path }}" alt="">
                </div>
                
                <div [ngClass]="{'alignItemsStart': home.isDesktop, 'wrapActive-60': home.isDesktop}" class="projectInfosContainer">
                    <div class="projectName">{{ project.project }}</div>
                    <div class="projectSkill">{{ project.skills }}</div>
                    <div [ngClass]="{'text-align-left': home.isDesktop}" class="projectInfo">{{ project.info }}</div>
        
                    <div class="btnContainer">
                        <div class="liveBtn btn">Live test</div>
                        <div class="gitBtn btn">Git Hub</div>
                    </div>

                </div>
                <div *ngIf="i < projects.length - 1" class="seperator"></div>

            </div>

        
        
    </div>


</section>
