$bgColor: rgb(20, 29, 47);
$mainColor: rgb(75, 71, 255);
$secondColor: rgb(0, 190, 232);

section {
    color: white;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: relative;
    z-index: 85;

    .headlineContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;



        .blueLineShort {
            height: 4px;
            width: 10%;
            background-color: $mainColor;
        }

        .headline {
            width: 179px;
            font-size: 45px;
            font-weight: 700;
            text-align: center;
            padding: 10px 0 10px 0;
        }

        .blueLineLong {
            height: 4px;
            width: calc(50% - 99.5px);
            background-color: $mainColor;
        }


    }

    .portfolioDescription {
        margin-top: 60px;
    }

    .projectsContainer {
        width: 80%;


        .project {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;

            .projectImgContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                img {
                    width: 100%;
                    max-width: 390px;
                    object-fit: contain;
                }
            }

            .projectInfosContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 16px;

                .projectName {
                    font-size: 32px;
                    font-weight: 700;
                    color: $mainColor;
                }

                .projectSkill {
                    color: $secondColor;
                    font-size: 24px;
                    text-align: center;
                    line-height: normal
                }

                .projectInfo {
                    text-align: center;
                }

                .btnContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;

                    a {

                        text-decoration: none;

                        .gitBtn {
                            border: 2px solid $secondColor;
                            text-align: center;
                            min-width: max-content;
                            color: white;

                            &:hover {
                                border: 2px solid $mainColor;
                            }
                        }

                        .liveBtn {
                            background-color: $mainColor;
                            text-align: center;
                            min-width: max-content;
                            color: white;
                            text-decoration: none;

                            &:hover {
                                background-color: $secondColor;
                            }
                        }


                    }

                }
            }
        }
    }
}

.seperator {
    background-color: $secondColor;
    width: 100%;
    height: 1px;
    margin-top: 60px;
}

.desktopWidth{
    width: 315px !important;
}

.lineWidthDesktop{
    width: calc(50% - 157px) !important;
}

.text-align-left{
    text-align: start !important;
}