<section id="mySkills" class="skillsSection" *ngIf="!home.impressOn" [ngClass]="{'textFontDesktop': home.isDesktopXl}">
    <div class="skillsContainer" [ngClass]="{'justify-center': home.isMobile}">
        
        <div [ngClass]="{'wrapActive-50': home.isDesktop, 'iconsGapDesktop': home.isDesktop}" class="skillsIconsContainer">
            <div [ngClass]="{'iconsDesktop': home.isDesktop}" class="icons">
                <div class="skillContainer" *ngFor="let skill of skills; let i = index">
                    <img [ngClass]="{'iconsImgDesktop': home.isDesktop || home.isTablet}" src="{{ skill.path }}" alt="">
                    <span>{{ skill.skill }}</span>
                </div>
            </div>
        </div>

        <div [ngClass]="{'wrapActive-40': home.isDesktop}" class="skillsTextContainer">
            <div class="headline">
                <div [ngClass]="{'desktopHeadlines': home.isDesktop}" class="skillHeadline">My Skills</div>
                <div [ngClass]="{'skillsLine': home.isDesktop}" class="greenLine"></div>
            </div>

            <div [ngClass]="{'paddingDesktop25': home.isDesktop}" class="skillsText">
                I have experience in building projects using many frontend technologies.
                <br>
                My priority is to constantly improve these skills, but I am never averse to new concepts.
            </div>

            <div *ngIf="home.isDesktop" class="getinTouchBtn mr-10">Get in touch</div>
        </div>
    </div>

    <div *ngIf="home.isMobile" class="getinTouchBtn">
        <a href="#contactSection">Get in touch</a>
    </div>
</section>

